---
layout: rightcol
rightcol_partial: rightcol-documentation.html.haml
title:  Narayana Features
---
%h1
  Narayana Features
Narayana is a pure Java multi-modal transaction service that supports distributed transactions in CORBA, J2EE and Web services environments.
%br
%br

%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th
    %th JTA
    %th JTS
    %th XTS
    %th Compensations Framework
    %th RTS
    %th STM
    %th Arjuna
    %th TXOJ
  %tbody
    - for feature in site.features_comparison.features
      %tr
        %td #{feature.name}
        %td #{feature.jta ? "&#10004;" : nil}
        %td #{feature.jts ? "&#10004;" : nil}
        %td #{feature.xts ? "&#10004;" : nil}
        %td #{feature.comp ? "&#10004;" : nil}
        %td #{feature.rts ? "&#10004;" : nil}
        %td #{feature.stm ? "&#10004;" : nil}
        %td #{feature.arjuna ? "&#10004;" : nil}
        %td #{feature.txoj ? "&#10004;" : nil}
