---
layout: rightcol
title: Downloads
---
%h2 Latest Narayana Release
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th
    %th Version
    %th Date
    %th License
  %tbody
    %tr
      %td
        %a{:href => site.current_narayana_release.binary}
          %i.icon-download-alt
          Narayana Binary
      %td #{site.current_narayana_release.version}
      %td #{site.current_narayana_release.date}
      %td LGPL
    %tr
      %td
        %a{:href => site.current_narayana_release.source}
          %i.icon-download-alt
          Narayana Source Code
      %td #{site.current_narayana_release.version}
      %td #{site.current_narayana_release.date}
      %td LGPL
    %tr
      %td
        %a{:href => site.current_narayana_release.blacktie.linux}
          %i.icon-download-alt
          BlackTie Linux x64 Binary
      %td #{site.current_narayana_release.version}
      %td #{site.current_narayana_release.date}
      %td LGPL
    %tr
      %td
        %a{:href => site.current_narayana_release.blacktie.windows}
          %i.icon-download-alt
          BlackTie Windows Binary
      %td #{site.current_narayana_release.version}
      %td #{site.current_narayana_release.date}
      %td LGPL

%a{:href => "/downloads/narayana-other"}
  Legacy Narayana versions


%h2 Latest NTA Release
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th
    %th Version
    %th Date
    %th License
  %tbody
    %tr
      %td
        %a{:href => site.other_releases.nta.binary}
          %i.icon-download-alt
          NTA Binary
      %td #{site.other_releases.nta.version}
      %td #{site.other_releases.nta.date}
      %td LGPL
    %tr
      %td
        %a{:href => site.other_releases.nta.demo}
          %i.icon-download-alt
          NTA Demo
      %td #{site.other_releases.nta.version}
      %td #{site.other_releases.nta.date}
      %td LGPL

%h2 Other related files
.row
  .col-md-6
    %h3 Narayana JTS IDL Files
    %ul.list-group
      - for file in site.related_files.idl
        %li.list-group-item
          %a{:href=>"https://github.com/jbosstm/narayana/tree/" + site.current_narayana_release.version + "/" + file.path}
            %i.icon-external-link
            #{file.name}
  .col-md-6
    %h3 Narayana XTS WSDL and XSD Files
    %ul.list-group
      - for file in site.related_files.wsdl
        %li.list-group-item
          %a{:href=>"https://github.com/jbosstm/narayana/tree/" + site.current_narayana_release.version + "/" + file.path}
            %i.icon-external-link
            #{file.name}
  .col-md-6
    %h3 Blacktie Interfaces
    %ul.list-group
      - for file in site.related_files.blacktie
        %li.list-group-item
          %a{:href=>"https://github.com/jbosstm/narayana/tree/" + site.current_narayana_release.version + "/" + file.path}
            %i.icon-external-link
            #{file.name}
