.navbar.navbar-inverse.navbar-fix#sticky-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-1")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar-1
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
          %a(href="#{site.base_url}/index.html") Home
        %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
          %a(href="#{site.base_url}/downloads.html") Downloads
        %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
          %a(href="#{site.base_url}/docs.html") Docs
        %li{:class=>"#{'active' if page.output_path.start_with?('/community') }" }<
          %a(href="#{site.base_url}/community.html") Community
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Source Code ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="https://github.com/jbosstm") GitHub
            %li<
              %a(href="https://source.jboss.org/browse/narayana") FishEye
        %li<
          %a(href="https://issues.jboss.org/browse/JBTM") Issue Tracker
= breadcrumb(page.real_page.output_path)
