.div
  %h2 Other Resources
  %ul.nav.nav-pills.nav-stacked
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/sub-projects')}"}
      %a{:href => "/documentation/sub-projects"}
        %i.icon-fixed-width.icon-arrow-right
        Sub-Projects
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/architecture')}"}
      %a{:href => "/documentation/architecture"}
        %i.icon-fixed-width.icon-arrow-right
        Architecture
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/arjuna-core')}"}
      %a{:href => "/documentation/arjuna-core"}
        %i.icon-fixed-width.icon-arrow-right
        Arjuna Core
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/transaction-fundamentals')}"}
      %a{:href => "/documentation/transaction-fundamentals"}
        %i.icon-fixed-width.icon-arrow-right
        Transaction Fundamentals
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/presentations')}"}
      %a{:href => "/documentation/presentations"}
        %i.icon-fixed-width.icon-arrow-right
        Presentations
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/narayana-features')}"}
      %a{:href => "/documentation/narayana-features"}
        %i.icon-fixed-width.icon-arrow-right
        Features
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/java-ee-support')}"}
      %a{:href => "/documentation/java-ee-support"}
        %i.icon-fixed-width.icon-arrow-right
        Java EE Support
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/platform-support')}"}
      %a{:href => "/documentation/platform-support"}
        %i.icon-fixed-width.icon-arrow-right
        Platform Support
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/why-to-choose-narayana')}"}
      %a{:href => "/documentation/why-choose-narayana"}
        %i.icon-fixed-width.icon-arrow-right
        Why Choose Narayana
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/web-services-support')}"}
      %a{:href => "/documentation/web-services-support"}
        %i.icon-fixed-width.icon-arrow-right
        Web Services Support
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/history')}"}
      %a{:href => "/documentation/history"}
        %i.icon-fixed-width.icon-arrow-right
        History
