---
layout: rightcol
rightcol_partial: rightcol-documentation.html.haml
title:  Documentation
description: List of Narayana documents available for download
---
.row
  .col-md-12
    .well
      %h1 Learn to use Narayana
      %p
        %a{:href => relative("/") + site.current_narayana_docs.project}
          %i.icon-external-link
          Narayana Guide (Community-only features)
      %p
        %a{:href => relative("/") + site.current_narayana_docs.product}
          %i.icon-external-link
          Narayana Guide (EAP product related features)
      %p
        %a{:href=>"https://github.com/jbosstm/quickstart"}
          %i.icon-github
          Narayana Quickstarts
      %p
        %a{:href => relative("/") + site.current_narayana_api.view}
          %i.icon-external-link
          Narayana Javadocs
      %p
        %a{:href => relative("/") + site.current_narayana_api.viewblacktie}
          %i.icon-external-link
          BlackTie Javadocs
      %p
        %a{:href => relative("/") + site.current_narayana_api.viewblacktienbf}
          %i.icon-external-link
          BlackTie NBF Javadocs

      %h1 Wiki
      %p
        Our community users have also contributed a lot of useful content for various practical applications of the transaction manager that can act as a companion to the main documentation set. To access this, visit the articles section of the Narayana community space on jboss.org:
        %a{:href => "https://developer.jboss.org/en/jbosstm/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bdocument%5D"}
          %i.icon-external-link
          Visit Narayana Wiki


.row
  .col-md-6
    %h2 Specifications
    %ul.list-group
      - for spec in site.links.specs
        %li.list-group-item
          %a{:href => spec.link.start_with?("https://") ? spec.link : relative("/") + spec.link}
            %i.icon-external-link
            #{spec.name}, v#{spec.version}, #{spec.date}
  .col-md-6
    %h2 Books
    %ul.list-group
      - for book in site.links.books
        %li.list-group-item
          %a{:href=>book.link}
            %i.icon-external-link
            #{book.name}, by #{book.author}, #{book.date}

.row
  .col-md-6
    %h2 Articles
    %ul.list-group
      - for article in site.links.articles
        %li.list-group-item
          %a{:href=>article.link}
            %i.icon-external-link
            #{article.name}, #{article.publisher}, #{article.date}
  .col-md-6
    %h2 Whitepapers
    %ul.list-group
      - for whitepaper in site.links.whitepapers
        %li.list-group-item
          %a{:href=>whitepaper.link}
            %i.icon-external-link
            #{whitepaper.name}, #{whitepaper.publisher}, #{whitepaper.date}
